config SHIELD_TIPPY_TAPPER_DONGLE
    def_bool $(shields_list_contains,tippy_tapper_dongle)

config SHIELD_TIPPY_TAPPER_LEFT
    def_bool $(shields_list_contains,tippy_tapper_left)

config SHIELD_TIPPY_TAPPER_RIGHT
    def_bool $(shields_list_contains,tippy_tapper_right)
