if SHIELD_TIPPY_TAPPER_LEFT 

config ZMK_KEYBOARD_NAME
    default "TippyTapper"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

endif

if SHIELD_TIPPY_TAPPER_LEFT || SHIELD_TIPPY_TAPPER_RIGHT 

config ZMK_KEYBOARD_NAME
    default "TippyTapper"

config ZMK_SPLIT
    default y

endif
