if SHIELD_TIPPY_TAPPER_DONGLE

config ZMK_KEYBOARD_NAME
    default "TippyTapper"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config ZMK_DISPLAY
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

config BT_MAX_CONN
    default 3

config BT_MAX_PAIRED
    default 3

# config ZMK_STUDIO
#     default y
endif

if SHIELD_TIPPY_TAPPER_LEFT || SHIELD_TIPPY_TAPPER_RIGHT || SHIELD_TIPPY_TAPPER_DONGLE

config ZMK_SPLIT
    default y

endif
